.mapContent {
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: calc(100vh - 194px);
}

/* @media only screen and (max-width: 1200px) {
  .mapContent {
    height: calc(100vh - 270px);
    background-color: black;
  }
}
@media only screen and (max-width: 576px) {
  .mapContent {
    height: calc(100vh - 570px);
    background-color: black;
  }
} */


.vehicleInformation{
  position: absolute;
  left: 0px;
  bottom: 3px;
  width: fit-content;
 
}

.vehicleInformationCollapse{
  display: none;
  left: 0px;
  bottom: 0px;
  width: fit-content;
 
}



.speedOverlay{
  position: absolute;
  right: 60px;
  bottom: 0px;
  width: fit-content;
}



.collapseArrow{
  width: 18px;
height: 36px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000012;
border: 1px solid #F2F2F5;
border-radius: 0px 3px 3px 0px;
opacity: 1;
display: block;
position: absolute;
left: 250px;
bottom: 327px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}


.collapseArrowCollapased{
  width: 18px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #F2F2F5;
  border-radius: 0px 3px 3px 0px;
  opacity: 1;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 327px;
  display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}


.vehicleAddressOverlay{
  width: 100%;
}


.widgetWrapper{
  position: relative;
  top: 0px;
  
}