* {
  margin: 0;
  padding: 0;
}
.ant-tabs-ink-bar {
  display: none;
}

/* .ant-tabs-tab {
  margin: 5px 0 5px 12px !important;
  width: 38px;
  height: 18px;
}
.ant-tabs-ink-bar {
  display: none;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  padding: 5px;
  border-radius: 3px;
  background: #fff 0% 0% no-repeat padding-box;
  font-size: 12px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background: #011223 0% 0% no-repeat padding-box;
  border-radius: 3px;
  font-weight: 500;
  color: #ffff !important;
} */
